.root{
    display: flex;
    justify-content: center;
}
.main{
    margin-top: 6vh;
    width: 300px;
    height: 400px;
    background-color: grey;
    border-radius: 17px;
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#head{
    color: white;
    font-size: 3cap;
    font-family: sans-serif;
}
.screen{
    width: 80%;
    height: 40px;
    border: 2px solid black;
    pointer-events: none;
}
.buttons{
    margin-top: 6vh;
}
.btn{
    width: 60px;
    height: 35px;
    border-radius: 5px;
    cursor: pointer;

}
.row{
    margin-top: 5px;
}